# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Build output
dist/
build/
out/

# Editors/IDEs
.idea/
.vscode/

# Env files
.env
.env.*

